body {

}

canvas {
	display:block;
	margin:0 auto;
	
	background-color:black;
}

.clear { clear: both; }

p#error {
	color:red;
	text-align:center;
}

form.login {
	width:356px;
	margin:0 auto;
}
form.login label { float: left; }
form.login input[type='text'], form.login input[type='password'] { float: right; }