extends ./base.jade
block append style
	link(rel='stylesheet', type='text/css', href='/assets/style.css')
block body
	nav#navigation
		a(href='/') Home
		span.delimiter &bullet;
		a(href='/') Sign Up
	div#content
		h1 Sign up for Poster
		p.subtitle Make an account.  To post things with.
		div#signup(class='box', style='width:512px')
			div.boxInterior
				form#signupForm(name="signupForm", action="/signup", method="POST")
					label(for='username') Username:
					input#user(type='text', name='username', placeholder='Username')
					div.clear
					label(for='pass1') Password:
					input#pass(type='password', name='pass', placeholder='Password')
					div.clear
					label(for='pass2') Confirm Password:
					input#pass2(type='password', name='pass2', placeholder='Confirm')
					div.clear
					input(type="hidden", name="_csrf", value="#{csrfToken}")
					//input(type='submit', value='Sign Up')
					a#signupSubmit(href='#') Sign Up
block scripts
	script(src='/assets/client.js')