extends ./temps/base
block body
	form(name='loginForm', class='login')
		label(for='username') Username:
		input(type='text', name='username')
		div.clear
		
		label(for='pass') Password:
		input(type='password', name='pass')
		div.clear
		
		input(type='hidden', name='csrfToken', value='#{csrfToken}')
		a#loginButton(class='submit', href='#') Log In
	p#error
block scripts
	script(src='/assets/accounts.js')