extends ./temps/base
block body
	div#menu
		a(href='/logout') Log Out
		
	canvas#game(width='640', height='480')
	
	p.info You = Blue, Other Players = Green
block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/assets/game.js')