extends ./temps/base
block body
	div#menu
		a(href='/logout') Log Out
		
	canvas#game(width='640', height='480')
	
	div.box
		p You are the character in blue.  Other players are represented by characters in green.
		br
		p Use the arrow keys or WASD to move
block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/assets/game.js')