extends ./temps/base
block body
	form(name='signupForm', class='login')
		label(for='username') Username:
		input(type='text', name='username')
		div(class='clear')
		
		label(for='pass1') Password:
		input(type='password', name='pass1')
		div(class='clear')
		
		label(for='pass2') Confirm Password:
		input(type='password', name='pass2')
		div(class='clear')
		
		input(type='hidden', name='csrfToken', value='#{csrfToken}')
		a(id='signupButton', class='submit', href='#') Sign Up
	p#error
block scripts
	script(src='/assets/accounts.js')